.header {
    padding: 20px;
    background-color: black;
    h1 {
        color: wheat;
    }

    &__links {
        background-color: aliceblue;
        color: black;
        margin: 5px;

        &:hover {
            color: white;
        }
    }
}